footer.footer
    .footer__logo
        img(src='/img/favicon.png' alt='Natours logo')
        p.pooter__text NATOURS
    ul
        li.ul--change: a(href='#') About us
        li.ul--change: a(href='#') Download apps
        li.ul--change: a(href='#') Becaome a guide
        li.ul--change: a(href='#') Careers
        li.ul--change: a(href='#') Contact
    p.copyright &copy; 2024 by kareem tarek


